<html>
    <head>
        <title>Anitha's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">carpadiem Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>India to Netherlands,So many changes, yet to embrace it fully....</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Memories,yet to make one :-).</p>
        </div>
    </body>
</html>

link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
